<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr">

<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
	<meta name=description content="Website de Vanessa Cedeño Mieles">
	<meta name=keywords
content="Vanessa Cedeño, Vanessa Cedeño Mieles, ESPOL, Ecuador, Escuela Superior Politécnica del Litoral, Universidad ESPOL, Ingeniería en ciencias computacionales, Computación">
	<meta name="author" content="Vanessa Cedeño" />
	<%= stylesheet_link_tag "style.css" %>
	<title>Página personal de Vanessa Cedeño Mieles</title>
</head>

<body>



<div id="header">
	<div class="center_wrapper">
		
		<div id="toplinks">
			<div id="toplinks_inner">
				<a href="#">Sitemap</a>
			</div>
		</div>
		<div class="clearer">&nbsp;</div>

		<div id="site_title">
			<h1><a href="#">Vanessa Cedeño Mieles <span></span></a></h1>
		</div>

	</div>
</div>

<div id="navigation">
	<div class="center_wrapper">
	
		<ul>
			<li class="current_page_item"><a href="#">Home</a></li>
			<li><a href="/page1/cv">CV</a></li>
			<li><a href="/docencia/docencia">Docencia</a></li>
			<li><a href="http://blog.espol.edu.ec/taws/">TAWS</a></li>
			<li><a href="/contacto/contacto">Contacto</a></li>
		</ul>

		<div class="clearer">&nbsp;</div>

	</div>
</div>


<div id="main_wrapper_outer">
	<div id="main_wrapper_inner">
		<div class="center_wrapper">

			<div class="left" id="main">
				<div id="main_content">
					
					<div class="post">

						<div class="post_title"><h2><a href="#">Profesor Auxiliar</a></h2></div>
						
						<div class="post_body">
						
						<table border=0 cellspacing=20 cellpadding=0 style='mso-cellspacing:20.0pt'>
 						<tr>
  						<td style='padding:.75pt .75pt .75pt .75pt'>
  							<p align=center style='text-align:center'><font size=5pt>Vanessa Cedeño Mieles</font></p>
  							<p><span style='text-decoration:none;
  							text-underline:none'><img border=0 id="_x0000_i1026"
  							src=/assets/vanessa.jpeg width="140" height="235"></span></p>
  						</td>
  						<td width="1000" style='padding:.85pt .85pt .85pt .85pt'>
  						<p><b>MSc</b></p>
  						<p>&nbsp;<a href="http://www.fiec.espol.edu.ec">Facultad de Ingeniería en Electricidad y Computación</a></p>
  						<p>&nbsp;<a href="http://www.espol.edu.ec">Escuela Superior Politécnica del Litoral</a></p>
  						<p>&nbsp;<b>Oficina:</b> 15A 44, Edificio FIEC</p>
  						<p>&nbsp;<b>Dirección:</b><br>
  						&nbsp;Campus Gustavo Galindo<br>
  						&nbsp;Km 30.5 Vía Perimetral<br>
  						&nbsp;FIEC, ESPOL<br>
  						&nbsp;Guayaquil, Ecuador</p>
  						<p>&nbsp;<b>Email:</b>
 						 vcedeno AT fiec DOT espol DOT edu DOT ec</p>
  						<p>&nbsp;<b>Teléfono:</b> (593) 2269-852</p>
  						</td>
 						</tr>
						</table>
						
						<p>Soy profesora auxiliar y Coordinadora de la carrera de Ingeniería de Ciencias Computacionales en la <a href="http://www.fiec.espol.edu.ec">Facultad de Ingeniería de Ciencias Computacionales</a> de <a href="http://www.espol.edu.ec">ESPOL</a> desde mayo del 2010. Obtuve mi masterado en Ciencias de la Computación 
						por el <a href="http://www.cs.fsu.edu">Departamento de Ciencias de la Computación</a> 
						de la <a href="http://www.fsu.edu">Universidad Estatal de Florida</a> 
						en el verano de 2010. Durante mis estudios en FSU, mi advisor fue <a href="http://www.cs.utah.edu/~lifeifei/"> Feifei Li</a> y fui miembro del <a href="http://www.cs.fsu.edu/dbgroup/dbgroup.php">Grupo de Base de Datos de FSU</a>. 
						En la actualidad soy coordinadora del Grupo de Investigación de Tecnologías Web <a href="http://blog.espol.edu.ec/taws/">TAWS</a>.
						Una versión más detallada sobre mí la pueden encontrar aquí [<a href="/assets/cv.pdf"><img
border=0 id="_x0000_i1027" src=/assets/index.gif width="15" height="15"></a>].</p>
						 
						<div class="post_title"><h3>Líneas de Investigación</h3></div>
							<p>Mi interés se centra en los sistemas de bases de datos, específicamente en la administración de datos masivos. Actualmente con el 
							continuo crecimiento de datos es importante el análisis y uso efectivo de esta "Big Data". También me interesa el análisis de algoritmos, la seguridad
							en las bases de datos y los sistemas de bases de datos distribuidas.</p>

						</div>
						
						<div class="post_title"><h3><a href="http://scholar.google.com/citations?user=MjEIuDMAAAAJ&hl=es">Publicaciones Recientes</a></h3></div>
							<ul>
								<li><a href="http://www.dspace.espol.edu.ec/bitstream/123456789/21010/1/Paper%20HerreraRodriguez.pdf">Búsquedas optimizadas en la página web de la ESPOL.</a> Por J Herrera Medina, C Rodríguez Rivera, V Cedeño Mieles.</li>
								<li><a href="http://www.dspace.espol.edu.ec/bitstream/123456789/20795/1/luis-fabricio.pdf">Sistema de reportes y análisis sobre tendencias en la Web de la ESPOL 
usando Hadoop para el procesamiento masivo de los datos.</a> Por L Gallardo, F Bermeo, V Cedeño.</li>
								<li><a href="http://www.dspace.espol.edu.ec/bitstream/123456789/20816/1/Base%20de%20Datos%20Transaccional%20Usando%20Hive%20sobre%20Hadoop.pdf">Análisis de la información de una base de Datos Transaccional usando Hive sobre Hadoop.</a> Por M Alcívar, I Espinoza, V Cedeño.</li>
								<li><a href="http://www.dspace.espol.edu.ec/bitstream/123456789/20819/1/alexis-johanna.pdf">Desarrollo de una Página Web y una Red de Ordenadores en el Laboratorio de Computación del Centro de Discapacidad Intelectual JACINTA Y FRANCISCO.</a> Por A Lárraga, J Jiménez, VI Cedeño.</li>
								<li><a href="http://learningobjects2006.espol.edu.ec/index.php/tecnologica/article/view/85">Adaptación de un Recomendador de Filtro Colaborativo Basado en el Usuario para la Creación de un Recomendador de Materias de Pregrado Basado en el Historial Académico de los Estudiantes.</a> Por J Del Pino, G Salazar, V Cedeño.</li>
								<li><a href="http://www.dspace.espol.edu.ec/bitstream/123456789/17138/1/An%C3%A1lisis%20de%20M%C3%A9tricas%20de%20Similaridad%20Usadas%20en%20un%20Algoritmo%20de.pdf">Análisis de Métricas de Similaridad Usadas en un Algoritmo de 
Filtro Colaborativo Basado en el Usuario Para Recomendar Materias de Pregrado.</a> Por J Del Pino, G Salazar, V Cedeño.</li>
								<li><a href="https://www.dspace.espol.edu.ec/bitstream/123456789/1071/1/1925.pdf">Diseño y Desarrollo de una Aplicación P2P de Mensajería para la ESPOL, Usando Tecnología JXTA </a> Por J XF Calle Peña, VI Cedeño Mieles, CL Abad Robalino.</li>
							</ul>	
						</div>
						
						<p><a href="http://scholar.google.com/citations?user=MjEIuDMAAAAJ&hl=es">[My Google Citation Page]</a></p>
						
						<div class="post_title"><h3>Becas, Distinciones Académicas y Certificados</h3></div>
							<ul>
								<li>11/2011  Diploma de Honor al Mérito Docente</li>
								<ul>Otorgado por la “Escuela Superior Politécnica del Litoral”, por haber obtenido una alta calificación en la labor como Profesora de la Facultad de Ingeniería en Electricidad y Computación. En el periodo lectivo 2010-2011.</ul>
								<li>08/2008  Certificado por aprobar el Programa para la Excelencia en  la Instrucción (Program for Intructional Excellence)</li>
								<ul>Dictado por Florida State University, Tallahasse, Florida.</ul>
								<li>03/2008  Beca estudiantil y Ayudantía  de Florida State University</li>
								<ul>Beca para estudios de Maestría en Ciencias de la Computación. 
Otorgado por El Departamento de Ciencias de la Computación de Florida State 
University. Agosto 2008-Abril 2010.</ul>
								<li>08/2007  Beca FULBRIGHT-SENACYT Postgrados para Estudiantes Ecuatorianos</li>
								<ul>Beca para estudios de maestría en los Estados Unidos de Norteamérica.  (08/2008 – 05/2010)</ul>
								<li>10/2006  Premio académico de mejor egresado de la ESPOL, “Escuela Superior Politécnica del Litoral”.</li>
								<ul>Otorgado al estudiante que obtuvo el más alto promedio de calificaciones entre los 
estudiantes egresados de la carrera de Ingeniería en Computación especialización 
Sistemas de Información. En el periodo lectivo 2005-2006.</ul>
								<li>08/2005  Premio académico de la ESPOL.</li>
								<ul>Otorgado al estudiante que obtuvo el más alto promedio de calificaciones entre los 
estudiantes de la carrera de Ingeniería en Computación especialización Sistemas de 
Información. En el periodo lectivo 2004-2005.</ul>
								<li>03/2005  Certificado por aprobar el seminario, Object Oriented Business Modeling (Modelo de negocios Orientado a Objetos)</li>
								<ul>Dictado por la ESPOL, “Escuela Superior Politécnica del Litoral”.</ul>
								<li>01/2002  Quinto lugar en la clasificación general de los bachilleres</li>
								<ul>Otorgado por: Colegio Americano de Guayaquil</ul>
								<li>08/2001  Primera Escolta de la Bandera de Guayaquil</li>
								<ul>Otorgado por: Colegio Americano de Guayaquil </ul>
							</ul>	
						

					
					
					<div class="post_title"><h3>Servicios Profesionales</h3></div>
								<ul>
								<li><b>Servicios:</b> Organizadora del concurso “Desarrollo de Aplicaciones Android”, auspiciado por ESPOL y Samsung Electronics. 06/2011-10/2011  </li>
								<li><b>Miembro de Comités:</b> Panelista para la elección de miembros de Becas Fulbright 2012  </li>				
							</ul>	
							
								
					</div>




								
				</div>
			</div>

			<div class="right" id="sidebar">

				<div id="sidebar_content">
				
					<div class="box">

						<div class="box_title">Páginas</div>

						<div class="box_content">
							<ul>
							<li><a href="https://twitter.com/vanessaicm" class="twitter-follow-button" data-show-count="false" data-lang="es" data-size="large">Seguir a @vanessaicm</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></li>
								<li><a href="https://www.facebook.com/vanessaicm"><img
border=0 id="_x0000_i1027" src=/assets/facebook_icon.png width="30" height="30"></a></li>
							</ul>
						</div>

					</div>

<!--					<div class="box">

						<div class="box_title">Gallery</div>

						<div class="box_content">

							<div class="thumbnails">
								
								<a href="#" class="thumb"><img src="sample-thumbnail.jpg" width="75" height="75" alt="" /></a>
								<a href="#" class="thumb"><img src="sample-thumbnail.jpg" width="75" height="75" alt="" /></a>
								<a href="#" class="thumb"><img src="sample-thumbnail.jpg" width="75" height="75" alt="" /></a>
								<a href="#" class="thumb"><img src="sample-thumbnail.jpg" width="75" height="75" alt="" /></a>
								<a href="#" class="thumb"><img src="sample-thumbnail.jpg" width="75" height="75" alt="" /></a>
								<a href="#" class="thumb"><img src="sample-thumbnail.jpg" width="75" height="75" alt="" /></a>

								<div class="clearer">&nbsp;</div>

							</div>

						</div>

					</div>-->

				</div>

			</div>
			
			<div class="clearer">&nbsp;</div>

		</div>
	</div>
</div>



<div id="footer">
	<div class="center_wrapper">

		<div class="left">
			&copy; 
		</div>
		<div class="clearer">&nbsp;</div>

	</div>
</div>

</body>
</html>